/* yleiset määritykset kaikilla resoluutioilla */
ion-toolbar {
    --background: #111111;
}
.header-ios ion-toolbar:last-child {
    --border-width: 0;
    padding: 10px;
}
#logo {
    display: block;
    margin-right: 40%;
    margin-left: auto;
    margin-top: 2%;
}
h4 {
    font-family: Courier;
    color: #FFFAFA;
    text-align: center;
}
ion-content {
    --background: #222222;
    }
h1 {
    font-family: Courier;
    color: #FFFAFA;
    text-align: center;
}
    
/* takaisin-nuoli */
#back {
    color: #FFFAFA;
}
/* asettelun breakpointit */
@media (min-width: 320px) {
    #logo {
        height: 65px;
    }
    h4 {
        font-size: 1em;
    }
}
#map {
    --background: #CE1D2C;
    margin-top: 8%;
    

}
/* iphone x */
@media (min-width: 375px) and (min-height: 812px) {
    #map {
        margin-top: 20%;
    }
}
ion-icon {
    color: #FFFAFA;
}