<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon id="back" slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
        </ion-buttons>
        <img id="logo" src="assets/img/ouluparks_iso.png">
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div *ngIf="carParkId === 8">
    <img src="assets/img/rehaparkki.jpg">
  </div>
  <div *ngIf="carParkId == 2">
    <img src="assets/img/autotori.jpg">
  </div>
  <div *ngIf="carParkId == 9">
      <img src="assets/img/avohoitotalo.JPG">
  </div>
  <div *ngIf="carParkId == 1">
      <img src="assets/img/Technopolis.jpg">
  </div>
  <div *ngIf="carParkId == 61">
      <img src="assets/img/kivisydan.jpg">
  </div>
  <div *ngIf="carParkId == 5">
      <img src="assets/img/autosaari.jpg">
  </div>
  <div *ngIf="carParkId == 4">
      <img src="assets/img/Autoheikki.jpg">
  </div>
  <div *ngIf="carParkId == 11">
      <img src="assets/img/sairaalaparkki.jpg">
  </div>
  <div *ngIf="carParkId == 10">
    <img src="assets/img/valkea.jpg">
  </div>
  <div class="tiedot">
    <h1>{{name}}</h1>
    <h4>Vapaita paikkoja nyt: {{spacesAvailable}}</h4>
    <h4>Paikkoja yhteensä: {{maxCapacity}}</h4>
  </div>
  <ion-button id="map" mode="ios" expand="block" (click)="go_map()">Karttanäkymään</ion-button>
</ion-content>
