/* yleiset määritykset kaikilla resoluutioilla */
ion-toolbar {
    --background: #111111;
}
.header-ios ion-toolbar:last-child {
    --border-width: 0;
    padding: 10px;
}
#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}
h4 {
    font-family: Courier;
    color: #FFFAFA;
    text-align: center;
}
#ip5 {
    font-size: 1em;
}
ion-content {
    --background: #222222;
}

/* kortin otsikko */
ion-card-title {
    color: #FFFFFF;
    font-family: Courier;
    padding-top: 6%;
    font-weight: 350;
}
/* kortin tausta & sisältö */
ion-card {
    margin: auto;
    margin-bottom: 2%;
    --background: #4f4f4f;
    text-align: center;
   
}
#pikkukuva {
    --background: #4f4f4f;
    
}
/* parkin tilan ilmaisimen sijainti */
#tila {
    vertical-align: middle;
    margin-left: 1%;
}
/* vapaan tilan ilmaisimen väriluokat */
.red {
    color: red;
}
.yellow {
    color: yellow;
}
.green {
    color: green;
}
/* asettelun breakpointit */
@media (min-width: 320px) {
    #logo {
        height: 65px;
    }
    #ip5 {
        font-size: 0.7em;
    }
    #tila {
        margin-left: 0;
    }
}
@media (min-width: 375px) {
    #ip5 {
        font-size: 1em;
    }
}
img {
    border-radius: 30%;
}
ion-thumbnail {
    margin-bottom: 4%;
    margin-right: 5%;
}