<ion-header>
  <ion-toolbar mode="ios">
        <img id="logo" src="assets/img/ouluparks_iso.png">
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div *ngFor="let value of carParks">
    <div *ngIf= "value.spacesAvailable != null && value.maxCapacity != 0 && value.carParkId != 6 && value.carParkId != 7  && value.carParkId != 3">
    <ion-card routerLink="/tabs/onepark/{{value.carParkId}}/{{value.name}}/{{value.spacesAvailable}}/{{value.maxCapacity}}"> 
      <ion-card-title>{{value.name}}</ion-card-title>
        <ion-card-content>
          <ion-item lines="none" id="pikkukuva">
                  <ion-thumbnail *ngIf="value.carParkId == 2" slot="start">
                      <img src = "assets/img/autotori.jpg">
                  </ion-thumbnail>
                  <ion-thumbnail *ngIf="value.carParkId == 8" slot="start">
                    <img src = "assets/img/rehaparkki.jpg">
                  </ion-thumbnail>
                  <ion-thumbnail *ngIf="value.carParkId == 9" slot="start">
                    <img src = "assets/img/avohoitotalo.JPG">
                  </ion-thumbnail>
                  <ion-thumbnail *ngIf="value.carParkId == 1" slot="start">
                    <img src = "assets/img/Technopolis.jpg">
                  </ion-thumbnail>
                  <ion-thumbnail *ngIf="value.carParkId == 61" slot="start">
                    <img src = "assets/img/kivisydan.jpg">
                  </ion-thumbnail>
                  <ion-thumbnail *ngIf="value.carParkId == 5" slot="start">
                    <img src = "assets/img/autosaari.jpg">
                  </ion-thumbnail>
                  <ion-thumbnail *ngIf="value.carParkId == 4" slot="start">
                    <img src = "assets/img/Autoheikki.jpg">
                  </ion-thumbnail>
                  <ion-thumbnail *ngIf="value.carParkId == 11" slot="start">
                    <img src = "assets/img/sairaalaparkki.jpg">
                  </ion-thumbnail>
                  <ion-thumbnail *ngIf="value.carParkId == 10" slot="start">
                    <img src = "assets/img/valkea.jpg">
                  </ion-thumbnail>
                <ion-label id="ip5" color="light">
              Vapaita paikkoja: {{value.spacesAvailable}}
                  <ion-icon id="tila" size="large" name="square" [ngClass]="{
                    'red' : value.spacesAvailable === 0,
                    'yellow' : value.spacesAvailable > 0,
                    'green' : value.spacesAvailable > 10
                    }">
                  </ion-icon>
              </ion-label>
          </ion-item>
        </ion-card-content>
    </ion-card>
    </div>
  </div>
</ion-content>
