<ion-header>
    <ion-toolbar mode="ios">
          <img id="logo" src="assets/img/ouluparks_iso.png">
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div #mapElement class="map">
  </div>
  </ion-content>
  