<ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="home"></ion-icon>
        <ion-label>Etusivu</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="allparks">
          <ion-icon name="list"></ion-icon>
          <ion-label>Kaikki parkit</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="map">
        <ion-icon name="pin"></ion-icon>
        <ion-label>Karttanäkymä</ion-label>
    </ion-tab-button>
      <ion-tab-button tab="info">
        <ion-icon name="information-circle-outline"></ion-icon>
        <ion-label>Tietoa</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>