/* yleiset määritykset kaikilla resoluutioilla */
ion-toolbar {
    --background: #111111;
}
.header-ios ion-toolbar:last-child {
    --border-width: 0;
    padding: 10px;
}
#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}
ion-content {
    --background: #222222;
}
h1 {
    font-family: Courier;
    color: #FFFAFA;
    font-weight: bold;
}
/* asettelun breakpointit */
@media (min-width: 320px) {
    #logo {
        height: 65px;
    }
}
#inffo {
    font-family: Courier;
    color: #FFFAFA;
}
a {
    color: #CE1D2C;
    text-decoration: none;
    font-weight: bold;
}
#tekstit {
    margin-top: 30px;
}