<ion-header>
  <ion-toolbar mode="ios">
        <img id="logo" src="assets/img/ouluparks_iso.png">
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div id="tekstit">
    <h1>Ouluparks 1.0</h1>
    <p id="inffo">Tämän sovelluksen ovat tehneet OAMK:n tietojenkäsittelyn opiskelijat.</p>
    <p id="inffo">Sovellus on tehty helpottamaan Oulussa liikkuvia autoilijoita ja sen käyttäminen on täysin maksutonta.</p>
    <p id="inffo">Sovelluksen perustana toimii Oulun kaupungin julkaisema ajantasainen tieto parkkitalojen täyttöasteesta.</p>
    <p id="inffo">Oulun kaupungin julkaisema avoin data on kaikkien vapaassa käytössä ja löytyy alla olevasta linkistä: </p>
    <p><a href="https://www.ouka.fi/oulu/oulu-tietoa/avoin-data">OULUN KAUPUNGIN AVOIN DATA</a></p>
  </div>
</ion-content>
