<ion-header> 
  <ion-toolbar mode="ios">
      <img id="logo" src="assets/img/ouluparks_iso.png">
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div class="section">
        <img src="assets/img/home2.jpg" id="koti">
        <h4>Löydä vapaa parkkipaikka Oulussa!</h4>
      <div class="btn">
        <ion-button mode="ios" expand="block" (click)="all_parks()">Katso kaikki parkit</ion-button>
      </div>
  </div>
</ion-content>
