/* yleiset määritykset kaikilla resoluutioilla */

ion-toolbar {
    --background: #111111;
}
#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}
.header-ios ion-toolbar:last-child {
    --border-width: 0;
    padding: 10px;
}
h4 {
    font-family: Courier;
    color: #FFFAFA;
    text-align: center;
}
ion-content {
    --background: #222222;
}
ion-button {
    --background: #CE1D2C;
    --background-hover: none;
}
/* asettelun breakpointit */
@media (min-width: 320px) {
    #koti {
        height: auto;
        max-width: 100%;
        padding-bottom: 5px;
    }
    .btn {
        margin-top: 15%;
    }
    #logo {
        height: 65px;
    }
}
